body
{
	font-family: sans-serif;
	font-size: 12pt;
	text-align: center;
}

.resume-container{
	width: 810px;
	margin: auto;
}

body .resume-container table
{
	width: 800px;
	margin: auto;
}

body .resume-container table th
{
	text-align: left;
}

.section-name
{
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid black;
	font-size: 20px;
}

.table-right
{
	width: 150px;
	text-align: right;
}

.table-left
{
	width: 650px;
	text-align: left;
}

.sections
{
	padding-bottom: 15px;
}

.subhead {
	font-weight: bold;
}

.list-skill
{
	width: 100%;
	text-align: left;
	padding-bottom: 10px;
}